ErrorDocument 401 /erreurs/erreur_401.php
ErrorDocument 403 /erreurs/erreur_403.php
ErrorDocument 404 /erreurs/erreur_404.php
ErrorDocument 500 /erreurs/erreur_500.php


DirectoryIndex index.php index.html /erreurs/erreur_403.php


Options +FollowSymlinks
RewriteEngine On

RewriteEngine On
RewriteRule  [R]
RewriteRule  [R] 

RewriteCond %{HTTP_HOST} !^www\.elise-layes\.fr [NC]
RewriteCond %{HTTP_HOST} !^$
RewriteRule ^/?(.*) http://www.elise-layes.fr/$1 [L,R,NE] 